# See: https://github.com/ManiAm/RDMA-Primer/blob/master/docs/10_README_SOFT_ROCE.md

[Unit]
Description=Initialize RDMA device
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rdma link add "{{ vm_rdma_interface }}" type "{{ vm_rdma_type }}" netdev "{{ vm_interface }}"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
